__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.pytest_cache/
__pycache__/
*.pyc
core/management/
core/migrations/

.venv/
env/
venv/
frontend/.env/
frontend/.gitignore
db.sqlite3

media/
staticfiles/

.env
.env.*
backup.json

.vscode/
.idea/
*.swp
Thumbs.db
desktop.ini

# Node (frontend) - optional, frontend has its own .gitignore
frontend/node_modules/
frontend/src/lib/api.js
node_modules/
frontend/node_modules/
dist/
db.sqlite3
datadump.json
api.js
jitsi_private.pk
core/tests/test_meetings.py
jaas_private.pem
jaas_public.pem
debug_jass_jwt.py

tests.py

file.sql
dump.sql
kasms_db.sql
kasms_db_2026-03-18_02-00-01 (1).dump

core/migrations/0001_initial.py
0001_initial.py
core/migrations/0002_biometricdevice_certificatetemplate_department_and_more.py
0002_biometricdevice_certificatetemplate_department_and_more.py
celerybeat-schedule.*
celerybeat-schedule.dir
celerybeat-schedule.dat
celerybeat-schedule.bak
find_old_references.sh
fix_all.py